/* Переменные */
$roboto: 'Roboto', Helvetica, Arial, sans-serif;

$red: #f35201;
$green: #4caf50;

@custom-media --medium (width <= 1200px);
@custom-media --tablet (width <= 960px);
@custom-media --phone (width <= 320px);
