head
  title MoneyApp
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=cyrillic" rel="stylesheet")
  link(href="assets/css/font-awesome.min.css" rel="stylesheet")
  link(href="assets/css/style.css" rel="stylesheet")
