#today.chart
  .chart__date Сегодня
  .chart__summ
    .chart__summ-descr Можно потратить
    .chart__summ-count 199
    i.fa.fa-rub
  .chart__pagination
    .dot
    .dot
    .dot.active
  .chart__save
    .chart__save-descr Отложено
    .chart__save-summ
      span.cart__save-summ-count 4 000
      i.fa.fa-rub
  //- .chart__month
  //-   .chart__save-descr Доходов
  //-   .chart__save-summ
  //-     span.cart__save-summ-count 4 000
  //-     i.fa.fa-rub
.history
  .history__title История операций
  .history__items
    .history__item.add
      img.history__item-img(src="assets/img/logo.jpg")
      .history__item-summ 100 <i class="fa fa-rub"></i>
      .history__item-title Кодельная
      .history__item-comment Оплата хостинга
    .history__item.remove
      img.history__item-img(src="assets/img/logo.jpg")
      .history__item-summ 100 <i class="fa fa-rub"></i>
      .history__item-title Кодельная
      .history__item-comment Оплата хостинга
